@model Elympic_Games.Web.Models.Matches.MatchViewModel

@{
    ViewData["Title"] = "Edit Match";
}

<h1>Edit Match</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="EventId" />
            <input type="hidden" asp-for="TeamOneScore" />
            <input type="hidden" asp-for="TeamTwoScore" />

            <div class="form-group mb-2">
                <label asp-for="StartDate"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-warning"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="EndDate"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-warning"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="TeamOneId" class="form-label">Team One</label>
                <select asp-for="TeamOneId" asp-items="Model.Teams" class="form-select"></select>
                <span asp-validation-for="TeamOneId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="TeamTwoId" class="form-label">Team Two</label>
                <select asp-for="TeamTwoId" asp-items="Model.Teams" class="form-select"></select>
                <span asp-validation-for="TeamTwoId" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Manage" class="btn btn-success">Go Back <i class="fa-solid fa-circle-left"></i></a>
            </div>
        </form>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}