@model Elympic_Games.Web.Models.Tickets.TicketsViewModel

@{
    ViewData["Title"] = "Edit Ticket";
}

<h1>Edit Ticket</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-3">
                <label asp-for="EventId" class="form-label">Country</label>
                <select asp-for="EventId" asp-items="Model.Events" class="form-select"></select>
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="TicketType" class="form-label">Country</label>
                <select asp-for="TicketType" asp-items="Model.TicketTypes" class="form-select"></select>
                <span asp-validation-for="TicketType" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" type="number" />
                <span asp-validation-for="Price" class="text-warning"></span>
            </div>

            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Manage" class="btn btn-success">Back to List</a>
            </div>
        </form>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}