@model Elympic_Games.Web.Models.Teams.TeamViewModel

@{
    ViewData["Title"] = "Create Team";
}

<h2>Create Team</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group mb-2">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-warning"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="GameTypeId" class="form-label"></label>
                <select asp-for="GameTypeId" asp-items="Model.GameTypes" class="form-select"></select>
                <span asp-validation-for="GameTypeId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="CountryId" class="form-label"></label>
                <select asp-for="CountryId" asp-items="Model.Countries" class="form-select"></select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="TeamManagerId" class="form-label"></label>
                <select asp-for="TeamManagerId" asp-items="Model.Users" class="form-select"></select>
                <span asp-validation-for="TeamManagerId" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <button type="submit" value="New Team" class="btn btn-primary">New Team <i class="fa-solid fa-plus"></i></button>
                <a asp-action="Manage" class="btn btn-success">Go Back <i class="fa-solid fa-circle-left"></i></a>
            </div>
        </form>

        <div asp-validation-summary="ModelOnly"></div>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div id="successDialog" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Success</h4>
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
                </div>
                <div class="modal-body">
                    <p>@TempData["SuccessMessage"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnOk">Ok</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function(){

            var modal = $("#successDialog");
            if (modal.length) {
                modal.modal("show");
            }

            $("#btnOk").click(function () {
                modal.modal("hide");
            });
        });
    </script>
}
