@model Elympic_Games.Web.Models.Cities.CityViewModel

@{
    ViewData["Title"] = "Edit City";
}

<h1>Edit City</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="CountryId" class="form-label"></label>
                <select asp-for="CountryId" asp-items="Model.Countries" class="form-select"></select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <button type="submit" value="Save" class="btn btn-primary">Update <i class="fa-solid fa-pen-to-square"></i></button>
                <a asp-action="Manage" class="btn btn-success">Back to List <i class="fa-solid fa-circle-left"></i></a>
            </div>
        </form>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}